<!-- begin: .tray-center-->
<div class="tray tray-center">
  <div class="tray-inner">
    <div class="row flex-column-reverse-before-md">
      <div class="col-sm-12">
        <div class="p30">
          <!-- dashboard tiles-->
          <h2 class="ib mn mr20">Totals</h2><span class="fs15 text-shady-lady">Last Week</span>
          <div class="row text-center mt35">
            <div class="col-sm-6 col-md-3 br-lg-r">
              <h2 class="mn fs47 ib pr20 monserrat">597</h2>
              <div class="reveal-xlg-inline-block text-center text-xlg-left">
                <p class="fs15 text-shady-lady mb2">New<br class="veil reveal-xlg-block"> Feedbacks
                </p>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 br-lg-r mt-30 mt-sm-0">
              <h2 class="mn monserrat fs47 ib pr20">16.6M$</h2>
              <div class="reveal-xlg-inline-block text-center text-xlg-left">
                <p class="fs15 text-shady-lady mb2">Total<br class="veil reveal-xlg-block"> Profit
                </p>
              </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-sm-6 col-md-3 br-lg-r mt-30 mt-md-0">
              <h2 class="mn monserrat fs47 ib pr20">7.5K</h2>
              <div class="reveal-xlg-inline-block text-center text-xlg-left">
                <p class="fs15 text-shady-lady mb2">New<br class="veil reveal-xlg-block"> Orders
                </p>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 mt-30 mt-md-0">
              <h2 class="mn monserrat fs47 ib pr20">+48%</h2>
              <div class="reveal-xlg-inline-block text-center text-xlg-left">
                <p class="fs15 text-shady-lady mb2">Brand<br class="veil reveal-xlg-block"> Popularity
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <hr class="mt-35">
      </div>
      <div class="col-sm-12">
        <!-- Admin-panels-->
        <div class="admin-panels">
          <!-- dashboard activity-->
          <div id="p01" class="panel mbn mt-40 mt-md-0">
            <div class="panel-body pbn">
              <div class="row">
                <!-- Chart Column-->
                <div class="col-md-6">
                  <div class="pl30 pr40">
                    <h2 class="ib mn mr20">Site visits</h2><span class="fs15 text-shady-lady">Weekly Stats</span>
                    <div class="float-sm-right mt-10 mt-sm-0"><a href="#" id="ecommerce_chart1-new-data" class="btn btn-xs btn-success chart-1 active-success">New</a><a href="#" id="ecommerce_chart1-new-data-2" class="btn btn-xs btn-default ml4 chart-1">Returning</a></div>
                    <div id="ecommerce_chart1" style="height: 380px;"></div>
                  </div>
                </div>
                <!-- Multi Text Column-->
                <div class="col-md-6 mt-30 mt-md-0">
                  <div class="pr30 pl40">
                    <h2 class="ib mn mr20">Revenue</h2><span class="fs15 text-shady-lady">Monthly Stats</span>
                    <div class="mt-10 mt-sm-0 pull-sm-right">
                      <div class="btn-group">
                        <button type="button" data-toggle="dropdown" class="btn btn-xs btn-info dropdown-toggle">Filter range<span class="caret ml15"></span></button>
                        <ul role="menu" class="dropdown-menu">
                          <li><a id="ecommerce_chart2-new-data" href="#" class="filter-range bg-whitesmoke">Type 1</a></li>
                          <li><a id="ecommerce_chart2-new-data-2" href="#" class="filter-range">Type 2</a></li>
                          <li><a id="ecommerce_chart2-new-data-3" href="#" class="filter-range">Type 3</a></li>
                        </ul>
                      </div>
                    </div>
                    <div id="ecommerce_chart2" style="height: 310px;" class="pt20"></div>
                    <div class="row mt10">
                      <div class="col-xs-6 col-sm-3 col-md-4 col-xl-3 text-space-20">
                        <div class="fs15 text-shady-lady">Revenue:</div>
                        <div class="fs23 text-outer-space monserrat">$13.274</div>
                      </div>
                      <div class="col-xs-6 col-sm-3 col-md-4 col-xl-3 text-space-20">
                        <div class="fs15 text-shady-lady">Tax:</div>
                        <div class="fs23 text-outer-space monserrat">$19.962</div>
                      </div>
                      <div class="col-xs-6 col-sm-3 col-md-4 col-xl-3 text-space-20">
                        <div class="fs15 text-shady-lady">Shipment:</div>
                        <div class="fs23 text-outer-space monserrat">$1.976</div>
                      </div>
                      <div class="col-xs-6 col-sm-3 col-md-12 col-xl-3 text-space-20 mt-md-15 mt-xl-0">
                        <div class="fs15 text-shady-lady">Orders:</div>
                        <div class="fs23 text-outer-space monserrat">529 479</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>