<div class="page-heading">
  <div class="media clearfix">
    <div class="media-body va-m">

      <h2 class="media-heading">
        Зал - <%= @hall.name %>
      </h2>
      <p class="lead"></p>

    </div>

  
    <div class="row">
      <div class="col-md-2">
        <label class="field-label">Описание</label>
      </div>
      <div class="col-md-10"><%= @hall.description %></div>
    </div>
  </div>
</div>