<div class="tray tray-center">
  <!-- recent orders table-->
  <div class="panel">
    <div class="panel-menu admin-form theme-primary">
      <div class="row">
        <div class="col-md-4">
          <label class="field select">
            <select id="filter-purchases" name="filter-purchases">
              <option value="0">Filter by Purchases</option>
              <option value="1">1-49</option>
              <option value="2">50-499</option>
              <option value="1">500-999</option>
              <option value="2">1000+</option>
            </select><i class="arrow double"></i>
          </label>
        </div>
        <div class="col-md-4">
          <label class="field select">
            <select id="filter-group" name="filter-group">
              <option value="0">Filter by Group</option>
              <option value="1">Customers</option>
              <option value="2">Vendors</option>
              <option value="3">Distributors</option>
              <option value="4">Employees</option>
            </select><i class="arrow double"></i>
          </label>
        </div>
        <div class="col-md-4">
          <label class="field select">
            <select id="filter-status" name="filter-status">
              <option value="0">Filter by Status</option>
              <option value="1">Active</option>
              <option value="2">Inactive</option>
              <option value="3">Suspended</option>
              <option value="4">Online</option>
              <option value="5">Offline</option>
            </select><i class="arrow double"></i>
          </label>
        </div>
      </div>
    </div>
    <div class="panel-body pn">
      <div class="table-responsive of-a">
        <table class="table admin-form theme-warning tc-checkbox-1 fs13">
          <thead>
            <tr class="bg-light">
              <th class="text-center">Select</th>
              <th>Avatar</th>
              <th>Name</th>
              <th>Email</th>
              <th>Registered</th>
              <th>Purchases</th>
              <th>Total Spent</th>
              <th class="text-right">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">
                <label class="option block mn">
                  <input type="checkbox" name="mobileos" value="FR"><span class="checkbox mn"></span>
                </label>
              </td>
              <td class="w50"><img title="user" src="/avatar-placeholder-05.png" width="30px" class="img-responsive mw30 ib mr10"></td>
              <td>Dave Robert</td>
              <td>dave@company.com</td>
              <td>12/03/2014</td>
              <td>222</td>
              <td>$3,600</td>
              <td class="text-right">
                <div class="btn-group text-right">
                  <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-success br2 btn-xs fs12 dropdown-toggle">Active<span class="caret ml5"></span></button>
                  <ul role="menu" class="dropdown-menu">
                    <li><a href="#">Edit</a></li>
                    <li><a href="#">Contact</a></li>
                    <li class="divider"></li>
                    <li class="active"><a href="#">Active</a></li>
                    <li><a href="#">Suspend</a></li>
                    <li><a href="#">Remove</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                <label class="option block mn">
                  <input type="checkbox" name="mobileos" value="FR"><span class="checkbox mn"></span>
                </label>
              </td>
              <td class="w50"><img title="user" src="/avatar-placeholder-03.png" width="30px" class="img-responsive mw30 ib mr10"></td>
              <td>Sara Marshall</td>
              <td>sara@company.com</td>
              <td>12/03/2014</td>
              <td>16</td>
              <td>$4,200</td>
              <td class="text-right">
                <div class="btn-group text-right">
                  <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-success br2 btn-xs fs12 dropdown-toggle">Active<span class="caret ml5"></span></button>
                  <ul role="menu" class="dropdown-menu">
                    <li><a href="#">Edit</a></li>
                    <li><a href="#">Contact</a></li>
                    <li class="divider"></li>
                    <li class="active"><a href="#">Active</a></li>
                    <li><a href="#">Suspend</a></li>
                    <li><a href="#">Remove</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                <label class="option block mn">
                  <input type="checkbox" name="mobileos" value="FR"><span class="checkbox mn"></span>
                </label>
              </td>
              <td class="w50"><img title="user" src="/avatar-placeholder-02.png" width="30px" class="img-responsive mw30 ib mr10"></td>
              <td>Larry Kingster</td>
              <td>larry@company.com</td>
              <td>12/03/2014</td>
              <td>46</td>
              <td>$16,200</td>
              <td class="text-right">
                <div class="btn-group text-right">
                  <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-success br2 btn-xs fs12 dropdown-toggle">Active<span class="caret ml5"></span></button>
                  <ul role="menu" class="dropdown-menu">
                    <li><a href="#">Edit</a></li>
                    <li><a href="#">Contact</a></li>
                    <li class="divider"></li>
                    <li class="active"><a href="#">Active</a></li>
                    <li><a href="#">Suspend</a></li>
                    <li><a href="#">Remove</a></li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<a href="<%= new_admin_customer_path %>" class="btn ladda-button btn-primary">
  <span class="ladda-label">Создать нового</span>
</a>


</div>